<html>
<head>
<title>activity_historyrecord.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_historyrecord.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s2">&lt;</span><span class="s5">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;#FAFAFA&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.carrie.carrie_test1.historyrecord&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">TableLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;495dp&quot;</span><span class="s2"> 
        </span><span class="s1">tools:layout_editor_absoluteX=</span><span class="s3">&quot;4dp&quot;</span><span class="s2"> 
        </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;2dp&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s5">TableRow</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot; </span><span class="s2">&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;100sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
 
                </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/historyborder&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView32&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;270sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;頭痛&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;15pt&quot;</span><span class="s2"> 
                    </span><span class="s1">tools:layout_editor_absoluteX=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                    </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;5sp&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView34&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;330sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;6/1 ~ 6/5&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;12pt&quot;</span><span class="s2"> 
                    /&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView33&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;300sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;60%&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;12pt&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;/</span><span class="s5">TableRow</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s5">TableRow</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot; </span><span class="s2">&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;100sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
 
                </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/historyborder&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView32&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;250sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;發燒&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;15pt&quot;</span><span class="s2"> 
                    </span><span class="s1">tools:layout_editor_absoluteX=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                    </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;5sp&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView34&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;200sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;-130sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;7/1 ~ 7/5&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;12pt&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView33&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;150sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;-40sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;100%&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;12pt&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageButton11&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;-35sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/send&quot;</span><span class="s2"> 
                    </span><span class="s1">android:onClick=</span><span class="s3">&quot;gotocomment&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;/</span><span class="s5">TableRow</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s5">TableRow</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot; </span><span class="s2">&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;350sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;100sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;5dp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
 
                </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/historyborder&quot;</span><span class="s2"> 
                </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView32&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;270sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;20sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;咳嗽&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;15pt&quot;</span><span class="s2"> 
                    </span><span class="s1">tools:layout_editor_absoluteX=</span><span class="s3">&quot;5sp&quot;</span><span class="s2"> 
                    </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;5sp&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView34&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;330sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;10sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;8/1 ~ 8/5&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;12pt&quot;</span><span class="s2"> 
                    /&gt;</span><span class="s4"> 
 
                </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                    </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView33&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;300sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;50sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;0sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15sp&quot;</span><span class="s2"> 
                    </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2"> 
                    </span><span class="s1">android:gravity=</span><span class="s3">&quot;center_vertical&quot;</span><span class="s2"> 
                    </span><span class="s1">android:text=</span><span class="s3">&quot;60%&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textColor=</span><span class="s3">&quot;#444444&quot;</span><span class="s2"> 
                    </span><span class="s1">android:textSize=</span><span class="s3">&quot;12pt&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;/</span><span class="s5">TableRow</span><span class="s2">&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;/</span><span class="s5">TableLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;/</span><span class="s5">android.support.constraint.ConstraintLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>