<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carrie.carrie_test1">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="用藥小幫手">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" />
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_activity_third" />
        <activity
            android:name=".FourthActivity"
            android:label="@string/title_activity_fourth" />
        <activity
            android:name=".certify"
            android:label="@string/title_activity_certify" />
        <activity
            android:name=".thirdverify"
            android:label="@string/title_activity_thirdverify" />
        <activity
            android:name=".RobotActivity"
            android:label="@string/title_activity_robot" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".beaconActivity"
            android:label="@string/title_activity_beacon" />
        android:name=".medicinevertify"
        android:label="@string/title_activity_medicinevertify" />
        <activity
            android:name=".medicinevertify"
            android:label="@string/title_activity_medicinevertify" />
        <activity
            android:name=".historyrecord"
            android:label="@string/title_activity_historyrecord" />
        <activity
            android:name=".comment"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".Beacon"
            android:label="@string/title_activity_beacon" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".chat"
            android:label="@string/title_activity_chat"></activity>
    </application>

</manifest>