<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carrie.carrie_test1"> <!--  -->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <!-- 藍芽權限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".Main2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" />
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_activity_third"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FourthActivity"
            android:label="@string/title_activity_fourth" />
        <activity
            android:name=".certify"
            android:label="@string/title_activity_certify" />
        <activity
            android:name=".thirdverify"
            android:label="@string/title_activity_thirdverify" />
        <activity
            android:name=".MyBeaconActivity"
            android:label="@string/title_activity_beacon" />
        <activity
            android:name=".MainActivity"
            android:label="用藥小幫手" />
        <activity
            android:name=".ScanBeaconActivity"
            android:label="@string/title_activity_scandevice" />
        <activity
            android:name=".MyAPActivity"
            android:label="@string/title_activity_ap" />
        <activity
            android:name=".medicinevertify"
            android:label="@string/title_activity_medicinevertify" />
        <activity
            android:name=".historyrecord"
            android:label="@string/title_activity_historyrecord" />
        <activity
            android:name=".comment"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".Beacon"
            android:label="@string/title_activity_beacon" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule" />
        <activity
            android:name=".LoginActivity"
            android:label="登入" />
        <activity
            android:name=".informationActivity"
            android:label="@string/title_activity_information" />
        <activity
            android:name=".checkinfrmationActivity"
            android:label="@string/title_activity_checkinfrmation" />
        <activity
            android:name=".Generate_Qrcode"
            android:label="@string/title_activity_generate__qrcode" />
        <activity
            android:name=".Scanner"
            android:label="@string/title_activity_scanner" />
        <activity
            android:name=".Choice"
            android:label="@string/title_activity_choice" />
        <activity
            android:name=".alarm"
            android:label="@string/title_activity_alarm" />

        <receiver android:name=".Alarm_Receiver" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <!-- <activity -->
        <!-- android:name=".edt" -->
        <!-- android:label="@string/title_activity_edt"></activity> -->


        <!-- <activity -->


        <!-- android:label="@string/title_activity_checkinfrmation"></activity> -->
        <!--  -->
        <activity
            android:name=".MonitorActivity"
            android:label="@string/title_activity_monitor" />
        <!-- <activity android:name=".notification" /> -->
        <activity android:name=".ScanActivity" />
        <activity android:name=".testview" />
        <activity
            android:name=".druginfo"
            android:label="@string/title_activity_druginfo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".card"
            android:label="@string/title_activity_card"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SwipePlot"
            android:label="@string/title_activity_swipe_plot"
            android:theme="@style/AppTheme" />
        <activity android:name=".DrugListActivity" />
        <activity
            android:name=".ChartActivity"
            android:label="@string/title_activity_chart"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BottomBarActivity"
            android:label="@string/title_activity_bottom_bar" />
        <activity
            android:name=".EnterBsBpActivity"
            android:label="@string/title_activity_enter_bs_bp"
            android:theme="@style/AppTheme" />
        <activity android:name=".BpRecord" />
        <activity
            android:name=".m_calendarlist"
            android:label="@string/title_activity_m_calendarlist" />
        <activity
            android:name=".BsRecord"
            android:label="@string/title_activity_bs_record"
            android:theme="@style/AppTheme" />
        <activity android:name=".medicine_cal" />
        <activity android:name=".scandrug" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme" />
        <activity android:name=".PersonalInformationctivity" />
        <activity
            android:name=".BsBpMeasureActivity"
            android:label="@string/title_activity_bs_bp_measure"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FirstSaveBsBpActivity"
            android:label="@string/title_activity_first_save_bs_bp"></activity>
    </application>

</manifest>